*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  background-color: #fafafa;
  color: #00021a;
}

.minimal-graph {
  margin-top: 1.5rem;
  width: 100%;
  max-width: 600px;
}

.detailed-graph {
  margin-top: 1.5rem;
  width: 100%;
  max-width: 600px;
}